* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 200px;
  font-family: arial, sans-serif; }

.center {
  width: 1000px;
  margin: 0 auto; }

.header {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  top: 0;
  background-color: #fff; }
  .header .logo img {
    height: 85px;
    width: auto; }

.main_content {
  -webkit-box-shadow: 0 0 23px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 0 23px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 23px 3px rgba(0, 0, 0, 0.14);
  margin: 90px auto 230px auto;
  overflow: hidden; }
  .main_content nav {
    float: left;
    width: 20%; }
    .main_content nav .nav-item {
      cursor: pointer;
      width: 100%;
      display: block;
      padding: 7px 10px;
      border: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #7d7f81;
      background-color: white;
      box-shadow: 0 1px 12px -2px rgba(237, 28, 36, 0.16);
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .main_content nav .nav-item:hover {
        background-color: rgba(237, 28, 36, 0.8);
        color: white;
        font-weight: bold; }
  .main_content .news {
    width: 80%;
    padding: 20px 35px;
    float: left;
    -webkit-box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14);
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14); }
    .main_content .news .news_item {
      border-bottom: 1px solid #E5E6E7;
      margin-bottom: 20px; }
      .main_content .news .news_item .title {
        font-size: 35px;
        letter-spacing: 3px;
        font-style: italic;
        color: #636669;
        padding: 0 20px; }
      .main_content .news .news_item .text {
        color: #7D7F81;
        line-height: 25px;
        margin: 15px 0; }
      .main_content .news .news_item:last-child {
        border-bottom: 0;
        margin-bottom: 0; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #ecf0f1; }
  .footer .footer_content {
    overflow: hidden;
    padding: 30px 0; }
    .footer .footer_content .info {
      float: left;
      width: 30%;
      margin-right: 5%;
      text-align: justify;
      color: rgba(97, 97, 97, 0.44); }
      .footer .footer_content .info:last-child {
        margin-right: 0; }
