html
  head
    title test site
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/main.css")
  body
    div.header
      div.center
        div.logo
          img(src="images/logo.png")
    div.center.main_content
      div.nav
        input.btn.nav-btn(type="button", value="menu item")
        input.btn.nav-btn(type="button", value="second item")
        input.btn.nav-btn(type="button", value="another item")
        input.btn.nav-btn(type="button", value="some long item name")
      div.news
        div.news_item
          div.title Hello World !
          div.text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Eum fugiat molestias nobis possimus ratione vel.
        div.news_item
          div.title One more title
          div.text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Eum fugiat molestias nobis possimus ratione vel.
        div.news_item
          div.title This title looks better
          div.text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Eum fugiat molestias nobis possimus ratione vel.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,

        div.news_item
          div.title The last one, but not the worst!
          div.text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Eum fugiat molestias nobis possimus ratione vel.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci. Oh, you noticed me :) fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Eum fugiat molestias nobis possimus ratione vel.
    div.footer
      div.center
        div.footer_content
          div.info.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
          div.info.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
          div.info.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad adipisci doloribus earum eum fuga fugit impedit,
            libero minima molestiae, mollitia officiis quis sunt!