doctype
html(lang="en")
  head
    title test site
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon", href="http://portal.programming.kr.ua/favicon.png", type="image/png")
  body
    div.header
      div.center
        div.logo
          img(src="images/logo.png")
    div.center.main_content
      nav
        a.nav-item menu item
        a.nav-item second item
        a.nav-item another item
        a.nav-item some long item name
      div.news
        div.news_item
          div.title
            h1.
              Hello World !
          div.text
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Eum fugiat molestias nobis possimus ratione vel.
        div.news_item
          div.title
            h1.
              One more title
          div.text
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Eum fugiat molestias nobis possimus ratione vel.
        div.news_item
          div.title
            h1.
              This title looks better
          div.text
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Eum fugiat molestias nobis possimus ratione vel.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
        div.news_item
          div.title
            h1.
              The last one, but not the worst!
          div.text
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Eum fugiat molestias nobis possimus ratione vel.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci. Oh, you noticed me :) fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Eum fugiat molestias nobis possimus ratione vel.
    div.footer
      div.center
        div.footer_content
          div.info
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
          div.info
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
          div.info
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ad adipisci doloribus earum eum fuga fugit impedit,
              libero minima molestiae, mollitia officiis quis sunt!